body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

div {
  text-align: center;
}

.vline {
  position: relative;
  border-left: 2px solid black;
  left: 50%;
  height: 10vw;
  top: 0;
  margin-bottom: 10px;
}

.medium {
  height: 25vw;
  margin-top: 10px;
}

.long {
  margin: 10px 0;
  height: 55vw;
  display: inline-block;
}

h1 {
  font-style: italic;
  font-size: 48px;
  font-weight: 700;
  width: 50vw;
  text-align: center;
  margin: 0 auto;
}

h2 {
  font-size: 40px;
  color: red;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  text-shadow: 0 3px 5px black;
  margin-bottom: 10px;
}

h4 {
  font-size: 32px;
  margin: 0 auto 10px;
  font-weight: 600;
}

p {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  letter-spacing: .03 em;
  word-spacing: .1em;
  width: 34vw;
  text-align: center;
  margin: 5px auto 0;
}



.player-images {
  position: relative;
  height: 0;
}

.player {
  max-width: 25%;
  height: auto;
  position: absolute;
}

.lebron {
  width: 226px;
  bottom: 20vw;
  left: 10%;
}

.goat {
  width: 254px;
  bottom: 5vw;
  left: 13%;
}

.kobe {
  width: 258px;
  bottom: 15vw;
  left: 25%;
}

.mj {
  width: 309px;
  bottom: 5vw;
  right: 25%;
  z-index: 2;
}

.steph {
  width: 258px;
  bottom: 20vw;
  right: 15%;
  z-index: 1;
}

.magic {
  width: 204px;
  bottom: 5vw;
  right: 5%;
  z-index: 2;
}

.disclaimer-msg {
    width: 55vw;
    margin-bottom: 10px;
}

.player-count {
  position: relative;
  max-width: 100%;
}

.player-num {
  display: flex;
  max-width: 100%;
  max-height: 150px;
  align-items: center;
  justify-content: center;
  background-image: url("images/star.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.big-num {
  font-size: 72px;
}

.enter-button {
  font-family: Roboto, sans-serif;
  background-color: white;
  border: 2px solid black;
  padding: .4em 1.7em;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  transition: .4s;
}

.enter-button:hover {
  background-color: black;
  color: white;
}

.about-msg {
  width: 40vw;
  margin-top: 0;
}

footer {
  text-align: center;
  font-size: 52px;
}

.fa {
  text-align: center;
  margin-top: 2vw;
}

.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
    font-size: 10em;
}

.fa-spotify {
  color: #1DB954;
}

.fa-instagram, .fa-spotify {
  transition: .3s;
}

.fa-instagram:hover, .fa-spotify:hover {
  opacity: 0.7;
}

@media (min-width: 900px) {
  .vline {
    height: 90px;
  }
  .long {
    height: 450px;
  }
  p {
    width: 400px;
  }

  h1 {
    width: 500px;
  }

  .lebron, .steph{
    bottom: 150px;
  }

  .goat, .mj, .magic {
    bottom: 0;
  }

  .kobe {
    bottom: 100px;
  }

  .disclaimer-msg {
    width: 550px;
  }

  .fa {
    margin-top: 15px;
  }
}

@media (max-width: 530px) {
  .player-num {
    background-size: 100%;
    height: auto;
  }

  .big-num {
    font-size: 52px;
  }
}

@media (max-width: 350px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 30px;
  }

  h4 {
    font-size: 24px;
  }

  p {
    font-size: 12px;
  }

  .big-num {
    font-size: 36px;
  }

  .enter-button {
    font-size: 12px;
  }

  footer {
    font-size: 39px;
  }
}
